/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1000px) {
.top_mnu ul{
    margin-top: 180px;
}
}
@media only screen and (max-height : 600px) {
.top_wrapper .top_descr .top_centered {
    margin-top: 80px;
}
}

/* Medium Devices, Desktops */

/* Small Devices, Tablets */


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
		padding-left: 10px;
		padding-right: 10px;
	}
	.main_footer {
		text-align: left;
	}
	.main_footer .social_wrap {
		float: left;
		margin-top: 20px;
		width: 100%;
	}
	.main_footer .social_wrap ul {
		padding-left: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 767px) {
#about_us {
    text-align: left;
    border: none;
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

     /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

     /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
#about_us h2 {
    text-align: left;
}
#faq{
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

     /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

     /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (max-width : 460px) {
.top_wrapper .top_text p {
    font-size: 25px;
}
}
@media only screen and (max-width : 693px) {
.top_wrapper .top_text p {
    font-size: 30px;
}
}
@media only screen and (max-width : 420px) {
.top_wrapper .top_text p {
    font-size: 20px;
}
}
@media only screen and (max-width : 1000px) {
.top_wrapper .top_descr .top_centered {
    margin-top: 110px;
}
}
@media only screen and (max-width : 1000px){
.top_descr h1 {
    text-shadow: 1px 1px 4px #000;
    display: inline-block;
    padding: 2px 15px;
    color: #fff;
    border: 4px solid #fff;
    font-weight: bold;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.33);
    margin-right: 20px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    margin-top: 30px;
}
}
@media only screen and (max-width : 373px) {
.top_descr h1 {
    margin-left: 15px;
}
}
@media only screen and (max-width : 1200px) {
	.s_resume .col-md-9 {
    width: 846px;
    padding: 0;
}
}
@media only screen and (max-width : 992px) {
	.s_resume .col-md-9 {
    width: 250px;
    padding: 0;
}
.s_resume .col-md-3 {
    margin: 0;
}
#blue{
	margin-bottom: 20px;
}
#green{
	margin-bottom: 20px;
}
}